body{
    margin: 0;
}

.ranura{
    height: 80px;
    width: 400px;
}

.tecla{
    width: 100px;
}

.fondo-teclado{
    background-image: url('../img/fondo-teclado.jpg');
}

.tecla-funcion{
    width: 170px;
}

.icono-boton{
    font-size: 2em;
}